<!--
Copyright © 2025 Sid Ahmed KHETTAB

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
-->

<nav>
    <ul>
        <li><a href="{{ url_for('site.home') }}">{{ get_translation('Home') }}</a></li>
        
        <li><a href="{{ url_for('site.about') }}">{{ get_translation('About') }}</a></li>
        
        <li><a href="https://erroranalyzer.com/docs/" target="_blank">{{ get_translation('Documentation') }}</a></li>
        <li class="language-switcher">
            <a href="javascript:void(0);">{{ get_translation('Language') }} <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown">
                <li><a href="#" data-lang="en">{{ get_translation('English') }}</a></li>
                <li><a href="#" data-lang="fr">{{ get_translation('Français') }}</a></li>
            </ul>
        </li>
        {% if current_user %}
            
            <li><a href="{{ url_for('projects.create_project') }}">{{ get_translation('New Project') }}</a></li>
            <li><a href="{{ url_for('projects.settings') }}">{{ get_translation('Settings') }}</a></li>
            <li><a href="{{ url_for('auth.profile', username=current_user.username) }}">@{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('auth.logout') }}">{{ get_translation('Logout') }}</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">{{ get_translation('Login') }}</a></li>
            <li><a href="{{ url_for('auth.register') }}">{{ get_translation('Sign up') }}</a></li>
        {% endif %}
    </ul>
</nav>
